flask==0.12
Jinja2==2.9.5
MarkupSafe==0.23
Werkzeug==0.12
docopt==0.6.2
itsdangerous==0.24
joblib==0.9.4
numpy==1.12.1
pandas==0.19.2
psutil==5.2.0
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sqlalchemy==1.1.6
ujson==1.35
# julia==0.4.5
ncurses==5.9
