Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
docopt==0.6.2
itsdangerous==0.24
joblib==0.8.4
# julia==0.1.1
numpy==1.9.2
pandas==0.16.0
psutil==2.2.1
py==1.4.26
python-dateutil==2.4.2
pytz==2015.2
# rpy2==2.5.2
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
sqlalchemy==1.0.1
ujson==1.33
